.landingPage_content{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    .landingPage_texte{
        width: 65%;
        h1{
            font-size: 26px;
            font-family: 'Bitter', Helvetica, sans-serif;
        }
        p{
            margin-top: 20px;
            line-height: 1.6em;
            font-size: 16px;
        }
    }
    .landingPage_form{
        width: 30%;
        height: fit-content;
        padding: 40px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.442);
        border-radius: 15px;
        background-color: #fecf84;
        div, label, input, textarea{
            width: 100%;
        }
        div{
            margin-bottom: 20px;
            label{
                font-size: 18px;
            }
            input{
                margin-top: 10px;
                height: 40px;
                padding: 5px;
                font-size: 20px;
            }
            textarea{
                height: 120px;
                margin-top: 10px;
                padding: 5px;
                    font-size: 20px;
            }
        }
        .form-btn{
                height: 40px;
                background-color: #62a04c;
                border: none;
                border-radius: 25px;
                color: white;
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                    background-color: #62a04c80;
                    font-weight: bold;
                }
            }
    }
}


/* RESPONSIF */

@media(max-width:1024px){
    .landingPage_content{
        .landingPage_form{
            padding: 40px 10px;
        }
    }
}


@media(max-width:768px){
    .landingPage_content{
        .landingPage_form{
            padding: 40px 10px;
            width: 40%;
        }
        .landingPage_texte{
            width: 55%;
        }
    }
}

@media(max-width:625px){
    .landingPage_content{
        flex-direction: column;
        .landingPage_form{
            padding: 40px 10px;
            width: 100%;
            margin-top: 40px;
        }
        .landingPage_texte{
            width: 100%;
        }
    }
}