header{
    background-color: #9ead98;
    .header_container{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            display: flex;
            justify-content: center;
            padding: 10px 0;
            img{
                width: 60%;
                margin: auto;
            }
        }
    }
}

/*
#96c185
*/