main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mainLandingPage{
    width: 70%;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .logo{
        width: 100%;
    }
    .textSimple{
        text-align: center;
    }


    /* Form */
    .landingPage_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        input{
            height: 40px;
            width: 100%;
        }
        .inputEmail {
            margin: 10px 0;
            padding: 5px 10px;
            &:focus {
                    outline: none !important;
                    border: 2px solid #fecf84;
                }
        }
        .form-btn{
            background-color: #62a04c;
            border: none;
            border-radius: 40px;
            color: white;
            transition: 0.1s ease;
            &:hover{
                font-weight: bold;
                cursor: pointer;
                transform: scale(1.05);
                background-color: #80cd64;
            }
        }
    }
}

@media(min-width:425px){
    .mainLandingPage{
        .logo{
            max-width: 300px;
    }
    .textSimple {
        max-width: 400px;
    }
    input {
        max-width: 400px;
    }
    }
}
